server:
  port: 8082 # User Service Portu

spring:
  application:
    name: user-service

  # --- MONGODB AYARLARI (DÜZELTİLMİŞ) ---
  data:
    mongodb:
      host: localhost
      port: 27017
      database: ecommerce-user-db # Verilerin yazılacağı yer
      username: admin             # Docker'da verdiğin kullanıcı adı
      password: admin             # Docker'da verdiğin şifre
      authentication-database: admin # <--- KRİTİK AYAR BU! (Kullanıcının kayıtlı olduğu yer)

  # --- GÜVENLİK (Resource Server) ---
  security:
    oauth2:
      resourceserver:
        jwt:
          # Token'ın gerçek olup olmadığını Keycloak'tan sorgular (Offline Validation)
          issuer-uri: http://localhost:8180/realms/ecommerce-realm
          jwk-set-uri: http://localhost:8180/realms/ecommerce-realm/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/