server:
  port: 8082 # User Service Portu

spring:
  application:
    name: user-service

  # --- MONGODB AYARLARI (DÜZELTİLMİŞ) ---
  data:
    mongodb:
      host: localhost
      port: 27017
      database: ecommerce-user-db # Verilerin yazılacağı yer
      username: admin             # Docker'da verdiğin kullanıcı adı
      password: admin             # Docker'da verdiğin şifre
      authentication-database: admin # <--- KRİTİK AYAR BU! (Kullanıcının kayıtlı olduğu yer)

      # --- REDIS AYARLARI (YENİ) ---
      redis:
        host: localhost
        port: 6379
        # password: (varsa buraya)

  # --- CACHE AYARLARI (SADELEŞMİŞ) ---
  cache:
    type: redis
    # time-to-live ve cache-null-values satırlarını SİL.
    # Çünkü bunları Java sınıfında (RedisConfig) zaten tanımladık.

  # --- GÜVENLİK (Resource Server) ---
  security:
    oauth2:
      resourceserver:
        jwt:
          # Token'ın gerçek olup olmadığını Keycloak'tan sorgular (Offline Validation)
          issuer-uri: http://localhost:8180/realms/ecommerce-realm
          jwk-set-uri: http://localhost:8180/realms/ecommerce-realm/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/



# KEYCLOAK ADMIN CLIENT AYARLARI
# User Service'in Keycloak API'si ile konuşabilmesi için gerekli
keycloak:
  admin:
    client-id: user-service-client       # Oluşturduğun Client ID
    client-secret: uRN5hXdF8ET3uO1jAom529UzANZLPMEt # Credentials sekmesinden aldığın kod