server:
  port: 8085

spring:
  application:
    name: product-service

  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true


  security:
    oauth2:
      resourceserver:
        jwt:
          # Token'ın imzasını kontrol etmek için Keycloak adresi
          issuer-uri: http://localhost:8180/realms/ecommerce-realm
          jwk-set-uri: http://localhost:8180/realms/ecommerce-realm/protocol/openid-connect/certs



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/