server:
  port: 8085

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource

    # --- HIKARI CP AYARLARI ---
    hikari:
      pool-name: OrderService-HikariPool
      maximum-pool-size: 20
      minimum-idle: 10
      idle-timeout: 600000      # 10 dk
      max-lifetime: 1800000     # 30 dk
      connection-timeout: 30000 # 30 sn
      connection-test-query: SELECT 1

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      password: admin
      timeout: 60000

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/ecommerce-realm
          jwk-set-uri: http://localhost:8180/realms/ecommerce-realm/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# ==============================================================
# OBSERVABILITY & MONITORING (GÖZLEMLEME)
# ==============================================================
management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus,metrics" # Prometheus ucunu açar

  # Log Takibi (Tracing)
  tracing:
    sampling:
      probability: 1.0 # %100 her isteği takip et

  # Zipkin Sunucu Adresi
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"