server:
  port: 8093

spring:
  application:
    name: search-service

  elasticsearch:
    uris: http://localhost:9200
    connection-timeout: 5s
    socket-timeout: 3s
    # Şifresiz modda çalıştığımız için username/password gerekmez

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/